.sidebar{
  width:280px;
  min-height:100vh;
  background:#09012d;
  padding:25px 0;
  color:white;
}

.profile-section{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:0 25px;
}

.profile-section img{
  width:160px;
  height:160px;
  border-radius:50%;
  object-fit:cover;
  border:3px solid #ff005c;
}

.profile-section h2{
  margin-top:20px;
  font-size:28px;
}

.profile-section p{
  color:#b8b8b8;
  margin-top:5px;
}

.stats-box{
  display:flex;
  gap:15px;
  margin-top:25px;
}

.stats-box div{
  background:#1a1447;
  padding:12px 25px;
  border-radius:10px;
}

.menu{
  margin-top:40px;
  display:flex;
  flex-direction:column;
}

.menu button{
  height:70px;
  border:none;
  background:none;
  color:white;
  font-size:22px;
  display:flex;
  align-items:center;
  gap:20px;
  padding-left:35px;
  cursor:pointer;
  transition:0.2s;
}

.menu button:hover{
  background:#1a1447;
}

.menu svg{
  font-size:28px;
}