.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:25px 35px;
  background:#15122c;
  border-bottom:1px solid rgba(255,255,255,0.05);
  position:sticky;
  top:0;
  z-index:10;
}

.header h1{
  font-size:28px;
  font-weight:bold;
}

.search-box{
  background:#211b45;
  padding:12px 16px;
  border-radius:14px;
  display:flex;
  align-items:center;
  gap:10px;
  width:300px;
}

.search-box input{
  background:transparent;
  border:none;
  outline:none;
  color:white;
  width:100%;
}

.header-icons{
  display:flex;
  gap:20px;
  font-size:20px;
}